body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4F4F4F; /* Cor de fundo mais clara */
}

header {
  background-color: #000000; /* Cor de fundo mais vibrante */
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 40px; /* Reduzindo o tamanho do logotipo */
  height: 40px; /* Reduzindo o tamanho do logotipo */
  margin-right: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #fff;
  text-decoration: underline; /* Adicionando sublinhado ao passar o mouse */
}

.container {
  padding: 20px;
}

#products {
  text-align: center;
}

#products h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.product-card {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px; /* Reduzindo o preenchimento */
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #fff; /* Fundo branco */
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px; /* Reduzindo a margem inferior */
}

.product-card .price {
  font-size: 20px;
  color: #333;
}
footer {
  background-color: #000000; /* Cor de fundo mais vibrante */
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
