/* Estilo básico para o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f9fa; 
}

/* Estilizando o cabeçalho */
header {
    margin-bottom: 20px; 
}

.navbar {
    border-bottom: 2px solid goldenrod; 
}

.navbar-brand {
    font-size: 1.5rem; /
}

.nav-link {
    margin-right: 15px;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-item.active .nav-link {
    font-weight: bold;
}


.container {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}