body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4F4F4F;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#quizForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

header {
    background-color: #000000; 
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 40px; /* Reduzindo o tamanho do logotipo */
    height: 40px; /* Reduzindo o tamanho do logotipo */
    margin-right: 10px;
}

footer {
    background-color: #000000; /* Cor de fundo mais vibrante */
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    left: 0;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: underline; 
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}